@model IEnumerable<RolesAllViewModel>

@{
    ViewData["Title"] = "Потребителски права";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="CreateRole">Създай ново</a>
</p>

<table class="table table-bordered table-hover" style="width:25%">
    <thead>
        <tr>
            <th>
                Роля
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="DeleteRole" asp-route-id="@item.Id">Изтрий</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Logo {
    <img src="/logo2.jpg" height="35" />
}