<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - "Топлофикация Русе" ЕАД</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">"Топлофикация Русе" ЕАД</a>
                @RenderSection("Logo", false)
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="DebitorsCases" asp-controller="Home" asp-action="">Дела</a>
                        </li>
                        <li class="nav-item dropdown mx-2">
                            <a class="nav-link text-dark" href="#" id="nav-inner-primary_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сервиз</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="nav-inner-primary_dropdown_1">
                                <a class="dropdown-item" asp-area="" asp-controller="CaseActions" asp-action="Index">Съдебни действия по дела - (CaseActions)</a>
                                <a class="dropdown-item" asp-area="" asp-controller="CourtCases" asp-action="Index">Съдебни Дела - (CourtCases)</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Courts" asp-action="All">Съдилища - (Courts)</a>
                                <a class="dropdown-item" asp-area="" asp-controller="CourtTown" asp-action="Index">Съдебни градове - (Court Towns)</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Debitors" asp-action="Index">Длъжници - (Debitors)</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Executors" asp-action="All">Съдебни изпълнители - (Executors)</a>
                                <a class="dropdown-item" asp-area="" asp-controller="ExecutorsCases" asp-action="All">Изпълнителни дела - (ExecutorsCases)</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Expenses" asp-action="All">Всички разноски - (Expenses)</a>
                                <a class="dropdown-item" asp-area="" asp-controller="HeatEstates" asp-action="Index">Имоти - (Heat Estates)</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Invoices" asp-action="Index">Фактури - (Invoices)</a>
                                <a class="dropdown-item" asp-area="" asp-controller="LawCases" asp-action="Index">Граждански Дела - (Law Cases)</a>
                                <a class="dropdown-item" asp-area="" asp-controller="LegalActions" asp-action="All">Всички съдебни действия - (Legal Actions)</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Payments" asp-action="All">Всички плащания - (Payments)</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown mx-2">
                            <a class="nav-link text-dark" href="#" id="nav-inner-primary_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Администрация</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="nav-inner-primary_dropdown_1">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="AllUsers">Потребители - (AllUsers)</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="AllRoles">Права (Роли) - (AllRoles)</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="CreateRole">Добави роля - (AllRole)</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - CourtDatabase2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
