@model CourtDatabase2.Data.Models.LawCase

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LawCase</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DebitorId" class="control-label"></label>
                <select asp-for="DebitorId" class="form-control" asp-items="ViewBag.DebitorId"></select>
                <span asp-validation-for="DebitorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObligationId" class="control-label"></label>
                <select asp-for="ObligationId" class="form-control" asp-items="ViewBag.ObligationId"></select>
                <span asp-validation-for="ObligationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AbNumber" class="control-label"></label>
                <select asp-for="AbNumber" class="form-control" asp-items="ViewBag.AbNumber"></select>
                <span asp-validation-for="AbNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoratoriumInterest" class="control-label"></label>
                <input asp-for="MoratoriumInterest" class="form-control" />
                <span asp-validation-for="MoratoriumInterest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LegalInterest" class="control-label"></label>
                <input asp-for="LegalInterest" class="form-control" />
                <span asp-validation-for="LegalInterest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

