@model HeatEstateEditViewModel

@{
    ViewData["Title"] = "Изтрий";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h3 class="alert-danger">Сигурен ли сте, че искате да изтриете този?</h3>
<div>
    <h4>Имот</h4>
    <hr />
    <ul>
        <li>
            <div>
                <span class="font-weight-lighter alert-warning">Абонатен номер: </span>
                <span class="alert-info col-md-1 font-weight-bold">@Model.AbNumber</span>
            </div>
        </li>
        <li>
            <div>
                <span class="font-weight-lighter alert-warning">Адрес: </span>
                <span class="alert-info col-md-1 font-weight-bold">@Model.Address</span>
            </div>
        </li>
    </ul>

    <form asp-action="Delete">
        <input type="hidden" asp-for="AbNumber" />
        <input type="submit" value="Изтрий" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-info">Обратно</a>
    </form>
</div>

@section Logo {
    <img src="/logo2.jpg" height="35" />
}
