@model HeatEstateEditViewModel

@{
    ViewData["Title"] = "Детайли";
}

<h1>@ViewData["Title"]</h1>

<h4>Имот</h4>
<hr />

<ul>
    <li>
        <div>
            <span class="font-weight-lighter alert-warning">Абонатен номер: </span>
            <span class="alert-info col-md-1 font-weight-bold">@Model.AbNumber</span>
        </div>
    </li>
    <li>
        <div>
            <span class="font-weight-lighter alert-warning">Адрес: </span>
            <span class="alert-info col-md-1 font-weight-bold">@Model.Address</span>
        </div>
    </li>
</ul>

<div>
    <a asp-action="Edit" asp-route-id="@Model.AbNumber" class="btn btn-primary">Редактиране</a> |
    <a asp-action="Index" class="btn btn-info">Обратно</a>
</div>
