@model IEnumerable<LegalActionViewModel>

@{
    ViewData["Title"] = "Всички съдебни действия";
}

<partial name="_PartialView" />

<p>
    <a class="btn btn-primary" asp-action="Create">Създай ново</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Видове съдебни действия
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id . @item.ActionName
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Редактиране</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Изтриване</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Logo {
    <img src="/logo2.jpg" height="35" />
}
