@model CourtDatabase2.ViewModels.LegalActionViewModel

@{
    ViewData["Title"] = "Create";
    var date = DateTime.UtcNow;
}

<h1>Създаване</h1>

<h4>съдебно действие</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">Дата</label>
                <input asp-for="Date" class="form-control" value="date" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActionName" class="control-label">Име на действието</label>
                <input asp-for="ActionName" class="form-control" />
                <span asp-validation-for="ActionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Създай" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Обратно</a>
</div>

