@model CaseActionsCreateViewModel

@{
    ViewData["Title"] = "Създай действие по дела";
}

<partial name="_PartialView" />
<p class="text-danger">@ViewData["Message"]</p>


<form asp-area="DebitorsCases" asp-action="CreateActionReport" asp-controller="Actions" method="post">
    <label asp-for="LegalActionId" class="alert-warning">Съдебно действие</label>
    <input asp-for="LegalActionId" class="alert-info" />
    <span asp-validation-for="LegalActionId" class="text-danger"></span><br />
    <label asp-for="LawCaseId" class="alert-warning">Дело</label>
    <input asp-for="LawCaseId" class="alert-info" />
    <span asp-validation-for="LawCaseId" class="text-danger"></span><br />
    <label asp-for="Date" class="alert-warning">Дата</label>
    <input asp-for="Date" class="alert-info" />
    <span asp-validation-for="Date" class="text-danger"></span>

    <input type="submit" value="Създай" class="btn btn-outline-warning" />
    <a asp-area="DebitorsCases" asp-controller="Actions" asp-action="Application410" asp-route-id="@Model.LawCaseId" class="btn btn-info">Обратно</a>
</form>

@section Logo {
    <img src="/logo2.jpg" height="35" />
}
