@using CourtDatabase2.Data.Models.Enumerations
@model CourtCasesInputModel

@{
    ViewData["Title"] = "Съдебно дело";
    var lawCases = this.Model.LawCases.Select(x => new SelectListItem(x.Value, x.Key));
    var courtTypes = this.Model.CourtTypes.Select(x => new SelectListItem(x.Value, x.Key));
}

<h1>Създаване</h1>

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourtId" class="control-label">Съд</label>
                <select asp-for="CourtId" class="form-control" asp-items="courtTypes"></select>
            </div>
            <div class="form-group">
                <label asp-for="LawCaseId" class="control-label"></label>
                <select asp-for="LawCaseId" class="form-control" asp-items="lawCases"></select>
            </div>
            <div class="form-group">
                <label asp-for="CaseNumber" class="control-label"></label>
                <input asp-for="CaseNumber" class="form-control" />
                <span asp-validation-for="CaseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseYear" class="control-label"></label>
                <input asp-for="CaseYear" class="form-control" />
                <span asp-validation-for="CaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourtChamber" class="control-label"></label>
                <input asp-for="CourtChamber" class="form-control" />
                <span asp-validation-for="CourtChamber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseType" class="control-label"></label>
                <select asp-for="CaseType" class="form-control" asp-items="@Html.GetEnumSelectList<CaseType>();"></select>
                <span asp-validation-for="CaseType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Създай" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Обратно</a>
</div>

