@using CourtDatabase2.ViewModels
@model CourtTownCreateViewModel

@{
    ViewData["Title"] = "CourtTowns";
}

<h1>Създаване на съдебен град</h1>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <label asp-for="TownName" class="alert-warning">Град</label>
    <input asp-for="TownName" class="alert-info" />
    <span asp-validation-for="TownName" class="text-danger"></span><br />
    <label asp-for="Address" class="alert-warning">Адрес</label>
    <input asp-for="Address" class="alert-info" />
    <span asp-validation-for="Address" class="text-danger"></span><br />
    <input type="submit" value="Запис" class="btn btn-outline-warning" asp-controller="CourtTown" asp-action="Create" />
    <a class="btn btn-info" asp-action="All">Обратно</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}