@using CourtDatabase2.ViewModels
@model CreateCourtTownViewModel

@{
    ViewData["Title"] = "CourtTowns";
}

<h1>Създаване на съдебен град</h1>

<div asp-validation-summary="All"></div>

<form method="post">
    <label asp-for="TownName">Град</label>
    <input asp-for="TownName" /><br />
    <span asp-validation-for="TownName" class="text-danger"></span><br />
    <label asp-for="Address">Адрес</label>
    <input asp-for="Address" /><br />
    <span asp-validation-for="Address" class="text-danger"></span><br />
    <input type="submit" value="Запис" class="btn btn-primary  badge-success" asp-controller="CourtTown" asp-action="Create" />
    <a class="btn btn-primary badge-pill" asp-action="All">Back</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}