@model ExecutorsCasesCreateViewModel

@{
    ViewData["Title"] = "Образувай изпълнително дело";
    var executors = this.Model.Executors.Select(x => new SelectListItem(x.Value, x.Key));
    var lawCases = this.Model.LawCases.Select(x => new SelectListItem(x.Value, x.Key));
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-5">
        <form asp-controller="ExecutorsCases" asp-action="Create" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExecutorId" class="control-label">Съдебен изпълнител</label>
                <select asp-for="ExecutorId" class="form-control" asp-items="executors"></select>
                <span asp-validation-for="ExecutorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LawCaseId" class="control-label">Длъжник</label>
                <select asp-for="LawCaseId" class="form-control" asp-items="lawCases"></select>
                <span asp-validation-for="LawCaseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExecutorCaseNumber" class="control-label">№ изпълнително дело</label>
                <input asp-for="ExecutorCaseNumber" class="form-control" />
                <span asp-validation-for="ExecutorCaseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label">година</label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <input type="submit" value="Запис" class="btn btn-primary" />
        </form>
    </div>
</div>


<a asp-action="All" class="btn btn-primary">Обратно</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
