@using CourtDatabase2.Data.Models.Enumerations
@model PaymentsInputViewModel

@{
    ViewData["Title"] = "Направи плащане";
    var lawCasesId = this.Model.LawCases.Select(x => new SelectListItem(x.Value, x.Key));
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Payments" asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <label asp-for="Date" class="alert-warning">Дата</label>
    <input asp-for="Date" class="alert-info" />
    <span asp-validation-for="Date" class="text-danger"></span><br />
    <label asp-for="Value" class="alert-warning">Стойност</label>
    <input asp-for="Value" class="alert-info" />
    <span asp-validation-for="Value" class="text-danger"></span><br />
    <label asp-for="PaymentSource" class="alert-warning">Начин на плащане</label>
    <select asp-for="PaymentSource" class="alert-info" asp-items="@Html.GetEnumSelectList<PaymentSource>();"></select>
    <span asp-validation-for="PaymentSource" class="text-danger"></span><br />
    <label asp-for="LawCaseId" class="alert-warning">Дело ИД</label>
    <select asp-for="LawCaseId" class="alert-info" asp-items="lawCasesId"></select>
    <span asp-validation-for="LawCaseId" class="text-danger"></span><br />
    <input type="submit" value="Плати" class="btn btn-outline-warning" />
    <a class="btn btn-info" asp-action="Index">Обратно</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

