@model PaymentsEditViewModel

@{
    ViewData["Title"] = "Редактирай плащане";
    var lawCases = this.Model.LawCases.Select(x => new SelectListItem(x.Value, x.Key));
}

<partial name="_PartialView" />

<form asp-controller="LawCases" asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <label asp-for="Date" class="alert-warning">Дата</label>
    <input asp-for="Date" class="alert-info" />
    <span asp-validation-for="Date" class="text-danger"></span><br />
    <label asp-for="LawCaseId" class="alert-warning">Гражданско дело</label>
    <select asp-for="LawCaseId" class="alert-info" asp-items="@lawCases"></select>
    <span asp-validation-for="LawCaseId" class="text-danger"></span><br />
    <label asp-for="Value" class="alert-warning">Стойност</label>
    <input asp-for="Value" class="alert-info" />
    <span asp-validation-for="Value" class="text-danger"></span><br />
    <label asp-for="PaymentSource" class="alert-warning">Начин на плащане</label>
    <select asp-for="PaymentSource" class="alert-info" asp-items="@Html.GetEnumSelectList<CourtDatabase2.Data.Models.Enumerations.PaymentSource>();"></select>
    <span asp-validation-for="PaymentSource" class="text-danger"></span><br />
    <input type="submit" asp-action="Edit" value="Запис" class="btn btn-outline-warning" />
    <a class="btn btn-info" asp-action="Index">Обратно</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
