@model IEnumerable<DebitorsCasesAllViewModel>

@{
    ViewData["Title"] = "Това са всички длъжници с дела.";
}

<h1>@ViewData["Title"]</h1>

<table collapse; class="table-bordered table-hover" style="color:blue">
    <thead style="color:brown">
        <tr>
            <th class="text-center">&nbsp;Ид&nbsp;</th>
            <th class="text-center">&nbsp;Имена&nbsp;</th>
            <th class="text-center">&nbsp;Главница&nbsp;</th>
            <th class="text-center">&nbsp;ЕГН&nbsp;</th>
            <th class="text-center">&nbsp;Аб. №&nbsp;</th>
            <th class="text-center">&nbsp;Адрес на обекта&nbsp;</th>
            <th class="text-center">&nbsp;Бр. фактури&nbsp;</th>
            <th class="text-center">&nbsp;Период от&nbsp;</th>
            <th class="text-center">&nbsp;Период до&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr style="font-size:13px">
                <td class="text-center">&nbsp;@item.Id&nbsp;</td>
                <td class="text-center">&nbsp;@item.Name&nbsp;</td>
                <td class="text-center">&nbsp;@item.MainValue&nbsp;</td>
                <td class="text-center">&nbsp;@item.EGN&nbsp;</td>
                <td class="text-center">&nbsp;@item.HeatEstate.AbNumber&nbsp;</td>
                <td class="text-center">&nbsp;@item.AddressEstate&nbsp;</td>
                <td class="text-center">&nbsp;@item.InvoiceCount&nbsp;</td>
                <td class="text-center">&nbsp;@item.PeriodFrom.ToString("dd.MM.yyyy")&nbsp;</td>
                <td class="text-center">&nbsp;@item.PeriodTo.ToString("dd.MM.yyyy")&nbsp;</td>
                <td>
                    <a asp-area="DebitorsCases" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info text-lg-center" style="font-size:10px">Детайли</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Logo {
    <img src="/logo2.jpg" height="35" />
}