@model IEnumerable<CaseActionsAllViewModel>

@{
    var name = this.Model.Select(x => x.Debitor).FirstOrDefault();
    //var value = this.Model.Select(x => x.LawCase.Value).FirstOrDefault();
    ViewData["Title"] = $"Всички действия по делото срещу {name}";
}

<h4>@ViewData["Title"]</h4>
<a asp-area="DebitorsCases" asp-action="Details" asp-route-id="@Context.Request.RouteValues["id"]" class="btn btn-info">Обратно</a>

<table class="table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center">&nbsp;ИД&nbsp;</th>
            <th class="text-center">&nbsp;Дата&nbsp;</th>
            <th class="text-center">&nbsp;Действие&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">&nbsp;@item.Id&nbsp;</td>
                <td class="text-center">&nbsp;@item.Date.ToShortDateString()&nbsp;</td>
                <td class="text-center">&nbsp;@item.LegalAction.ActionName&nbsp;</td>
            </tr>
        }
    </tbody>
</table>

@section Logo {
    <img src="/logo2.jpg" height="35" />
}