    @model IEnumerable<ExpenseAllViewModel>

@{
    var id = ViewBag.MyId;
    var name = this.Model.Where(x => x.LawCaseId == id).Select(x => x.DebitorName).FirstOrDefault();
    var value = this.Model.Where(x => x.LawCaseId == id).Select(x => x.CaseValue).FirstOrDefault();
    var sumExpenses = this.Model.Sum(x => x.ExpenceValue);
    ViewData["Title"] = $"Всички разноски по делото срещу {name} с главница - {value} лв. - ИД {id}";
}

<h4>@ViewData["Title"]</h4>

<a asp-area="DebitorsCases" asp-action="Details" asp-route-id="@id" class="btn btn-info">Обратно</a>
<a asp-area="DebitorsCases" asp-action="CreateExpense" asp-route-id="@id" class="btn btn-info">Създай разноски</a>

<h6>
    <span class="alert-danger">Сумата на разноските е @sumExpenses лв.</span>
</h6>
<table class="table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center">&nbsp; Ид &nbsp;</th>
            <th class="text-center">&nbsp; Стойност &nbsp;</th>
            <th class="text-center">&nbsp; Дата &nbsp;</th>
            <th class="text-center">&nbsp; Описание &nbsp;</th>
            <th class="text-center">&nbsp; Получател &nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">&nbsp;@item.Id&nbsp;</td>
                <td class="text-center">&nbsp;@item.ExpenceValue&nbsp;</td>
                <td class="text-center">&nbsp;@item.ExpenceDate&nbsp;</td>
                <td class="text-center">&nbsp;@item.ExpenceDescription&nbsp;</td>
                <td class="text-center">&nbsp;@item.Payee&nbsp;</td>
                <td class="text-center">
                </td>
            </tr>
        }

    </tbody>
</table>


