@model CourtDatabase2.Data.Models.Court

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Court</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CourtType" class="control-label"></label>

                <select asp-for="CourtType" class="form-control" asp-items="@Html.GetEnumSelectList<CourtDatabase2.Data.Models.Enumerations.CourtType>()"></select>
                <span asp-validation-for="CourtType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourtTownId" class="control-label"></label>
                <select asp-for="CourtTownId" class="form-control" asp-items="ViewBag.CourtTownId"></select>
                <span asp-validation-for="CourtTownId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Запис" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Обратно</a>
</div>

