@using CourtDatabase2.Data.Models.Enumerations
@model CourtEditViewModel

@{
    ViewData["Title"] = "Редактиране съд";
    var courtTowns = this.Model.Towns.Select(x => new SelectListItem(x.Value, x.Key));
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div><input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CourtType" class="control-label alert-warning">Вид съд</label>
                <select asp-for="CourtType" class="form-control alert-info" asp-items="@Html.GetEnumSelectList<CourtType>()"></select>
                @*<span asp-validation-for="CourtType" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="CourtTownId" class="control-label alert-warning">Град и адрес</label>
                <select asp-for="CourtTownId" class="form-control alert-info" asp-items="courtTowns"></select>
                @*<span asp-validation-for="CourtTownId" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Запис" class="btn btn-outline-warning" />
                <a asp-action="Index" class="btn btn-info">Обратно</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

